.workCardsContainer {
  display: flex;
  position: relative;
  background-color: $zVeryDarkBlue;

  .cardContainer {
    width: 100vw;
    display: flex;
    padding: 4rem;
    place-items: center;
    justify-content: center;
    align-items: start;

    .workCard {
      display: flex;
      flex-direction: column;
      background-color: $zVeryDarkBlue;
      border-radius: 10px;
      box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.5);
      text-align: center;
      margin: 4rem;
      width: 30rem;
      height: auto;
      transition: 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      & video {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        margin-bottom: 1rem;
      }
      .halfContainer {
        height: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .titleContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: $white;
          text-align: center;
          z-index: 20;
          width: 100%;
        }
      }
    }

    .headerCard {
      color: $white;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 2rem;
      padding: 0.5rem 0;
      width: fit-content;
      z-index: 20;
      position: relative;
    }
    .headerCard::before {
      content: "";
      position: absolute;
      background: $white;
      width: 100%;
      height: 1px;
      bottom: 0;
      transform-origin: 150% 0;
      transform: scaleX(0);
      transition: transform 0.4s;
    }
    .headerCard:hover::before {
      transform-origin: 0 0;
      transform: scaleX(1);
    }
    .hr {
      width: 50px;
      height: 3px;
      margin: 20px auto;
      border: 0;
      background: $zRed;
    }
    .intro {
      width: 170px;
      margin: 0 auto;
      color: $white;
      font-family: "Droid Serif", serif;
      font-size: 1rem;
      font-style: italic;
      line-height: 18px;
    }
    .cardInfo {
      width: 100%;
      padding: 0 50px;
      color: $white;
      font-style: 1rem;
      line-height: 24px;
      text-align: justify;
    }
    .bottomCard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .stack {
        color: $white;
        text-align: center;
        font-size: 1.5rem;
        width: fit-content;
        z-index: 20;
        position: relative;
      }
      .stack::before {
        content: "";
        position: absolute;
        background: $white;
        width: 100%;
        height: 1px;
        bottom: 0;
        transform-origin: 150% 0;
        transform: scaleX(0);
        transition: transform 0.4s;
      }
      .stack:hover::before {
        transform-origin: 0 0;
        transform: scaleX(1);
      }

      .tagList {
        display: flex;
        justify-content: space-around;
        margin: 1.5rem 0 1rem 0;
      }
      .tag {
        color: $white;
        font-size: 1rem;
        position: relative;
        margin: 0 1rem;
      }
      .tag::before {
        content: "";
        position: absolute;
        background: $white;
        width: 100%;
        height: 1px;
        bottom: 0;
        transform-origin: 150% 0;
        transform: scaleX(0);
        transition: transform 0.4s;
      }
      .tag:hover::before {
        transform-origin: 0 0;
        transform: scaleX(1);
      }
    }
    .utilityList {
      width: 100%;
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      margin: 2.5rem 0;
    }
    .externalLinks {
      text-decoration: none;
      color: $zVeryDarkBlue;
      font-size: 1.6rem;
      padding: 1rem 1.5rem;
      background: $white;
      border-radius: 15px;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: $zVeryDarkBlue;
        font-size: 2rem;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
      }
    }
  }
}
