.contact-menu {
  display: none;
  z-index: 29;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100%;

  .menu-secondary-background-color {
    background-color: $zRed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .menu-layer {
    position: relative;
    background-color: $zVeryDarkBlue;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: none;
    nav {
      ul {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        cursor: none;

        li {
          list-style: none;

          a {
            display: inline-block;
            text-decoration: none;
            color: $white;
            font-size: 5rem;
            margin: 1rem 0;
            padding: 0 2rem;
            cursor: none;
            transition: 0.2s ease-in-out;
            @include breakpoint-down(mobile) {
              font-size: 3rem;
              padding: 0;
            }
          }
          a:hover {
            transform: scale(1.3);
          }
        }
        .cursor {
          width: 2rem;
          height: 2rem;
          background-color: $white;
          position: fixed;
          border-radius: 50%;
          pointer-events: none;
          mix-blend-mode: difference;
        }
        li:hover ~ .cursor {
          transform: scale(5);
        }
      }
    }
    .cubeContainer {
      position: relative;
      .letsTalk {
        border: 5px solid $white;
        border-radius: 10px;
        width: fit-content;
        padding: 2rem;
        position: absolute;
        top: 40%;
        left: 50vw;
        transform: translate(-100%, -50%);
        color: white;
        font-size: 3rem;
        z-index: 999999;
      }
      .cube {
        width: 80vw;
        height: 100vh;
      }
      @include breakpoint-down(tablet) {
        display: none;
      }
    }
  }
}
