* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "HelveticaNeue-CondensedBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
  color: #0f1624;
  overflow-x: hidden;
}

body.no-scroll {
  overflow-y: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  width: auto;
  height: 100%;
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media (min-width: 1408px) {
  .container {
    max-width: 1560px;
  }
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .row.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .row.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageWrapper .homeBackground {
  -webkit-animation: grain 8s steps(10) infinite;
          animation: grain 8s steps(10) infinite;
  background-image: url("https://images.unsplash.com/photo-1568274179323-00ae07c3e653?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
  height: 300%;
  left: -50%;
  opacity: 0.1;
  position: fixed;
  top: -100%;
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageWrapper .frame {
  position: absolute;
  overflow: hidden;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.pageWrapper .frame img {
  width: 100%;
}

.pageWrapper .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.pageWrapper .info .information {
  position: relative;
  width: 100%;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

@-webkit-keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 25%);
            transform: translate(3%, 25%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

@keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 25%);
            transform: translate(3%, 25%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  font-size: 1rem;
  width: 100%;
  height: 8rem;
  padding: 1rem 1.5rem;
  font-weight: "700";
  z-index: 30;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 5rem;
  width: 5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 40;
}

header .menu:hover {
  background: #0f1624;
  color: #f1f1f1;
}

.contact-menu {
  display: none;
  z-index: 29;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
}

.contact-menu .menu-secondary-background-color {
  background-color: #2e46f5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.contact-menu .menu-layer {
  position: relative;
  background-color: #ed3833;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: none;
}

.contact-menu .menu-layer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: none;
}

.contact-menu .menu-layer nav ul li {
  list-style: none;
}

.contact-menu .menu-layer nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 5rem;
  margin: 1rem 0;
  padding: 0 2rem;
  cursor: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.contact-menu .menu-layer nav ul li a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.contact-menu .menu-layer nav ul .cursor {
  width: 2rem;
  height: 2rem;
  background-color: #f1f1f1;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
}

.contact-menu .menu-layer nav ul li:hover ~ .cursor {
  -webkit-transform: scale(5);
          transform: scale(5);
}

.portfolioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heroContainer .top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 50vh;
  width: 100%;
}

.heroContainer .top-row .jobAndName .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heroContainer .top-row .jobAndName .portfolio {
  overflow: hidden;
}

.heroContainer .top-row .jobAndName .portfolio .first {
  margin-right: 4.5rem;
}

.heroContainer .top-row .jobAndName .portfolio span {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 8rem;
  font-family: "Maragsa";
}

.heroContainer .bottom-row {
  height: 50vh;
}

.heroContainer .bottom-row .thumbnail-single {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

.heroContainer .bottom-row .thumbnail-single img {
  position: absolute;
  width: 100%;
}

.heroContainer .scroll-for-more {
  position: absolute;
  bottom: 250px;
  left: 150px;
  z-index: 20;
}

.heroContainer .scroll-for-more .icon svg {
  height: auto;
  width: 28px;
}

.heroContainer .scroll-for-more .text {
  margin-top: 8px;
  color: #f1f1f1;
  text-transform: uppercase;
}

.background-fade {
  margin-top: 18.75rem;
  height: 37.5rem;
}

.background-fade .container .rotateWebDev {
  position: absolute;
  top: -20%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
}

.background-fade .container .rotateWebDev h2 {
  font-size: 6.25rem;
  margin: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-align: center;
  line-height: 0.8;
  color: #ed3833;
}

.background-fade .container .rotateWebDev .rotateWeb {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #0f1624;
}

.background-fade .container .row {
  margin: 0 5% 0 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.background-fade .container .row h2 {
  font-size: 28px;
}

.background-fade .container .row p {
  font-family: "Helvetica Neue";
  font-size: 16;
  line-height: 28px;
  font-weight: 400;
  width: 800px;
}

.background-fade .container .row p .bouncingLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  width: auto;
}

.background-fade .profileBox {
  position: relative;
  height: 100%;
  width: 50%;
}

.background-fade .profileBox .profilePicture {
  position: absolute;
  top: -25vh;
  width: 90%;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 11;
  -webkit-filter: drop-shadow(8px -5px 10px #585858);
          filter: drop-shadow(8px -5px 10px #585858);
}

.particles {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110vh;
  color: #f1f1f1;
  font-size: 8rem;
}

.particles h2 {
  position: absolute;
}

.particles h2 span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  color: #f1f1f1;
  letter-spacing: 8px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.particles h2 span::before {
  content: "WORK";
  opacity: 0;
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(45deg, transparent 0, transparent 2px, #f1f1f1 2px, #f1f1f1 4px);
  background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.particles h2 span::after {
  content: "WORK";
  opacity: 0;
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(135deg, transparent 0, transparent 2px, #0f1624 2px, #0f1624 4px);
  background-clip: text;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.particles h2 span:hover:before {
  opacity: 1;
  top: 10px;
  left: 10px;
}

.particles h2 span:hover:after {
  opacity: 1;
  top: -10px;
  left: -10px;
}

.workCardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #0f1624;
}

.workCardsContainer .cardContainer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.workCardsContainer .cardContainer .workCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0f1624;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 50px rgba(46, 70, 245, 0.5);
          box-shadow: 0px 0px 50px rgba(46, 70, 245, 0.5);
  text-align: center;
  margin: 4rem;
  width: 30rem;
  height: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.workCardsContainer .cardContainer .workCard:hover {
  -webkit-box-shadow: 0px 0px 300px #2e46f5;
          box-shadow: 0px 0px 300px #2e46f5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.workCardsContainer .cardContainer .workCard video {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin-bottom: 1rem;
}

.workCardsContainer .cardContainer .workCard .halfContainer {
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workCardsContainer .cardContainer .workCard .halfContainer .titleContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f1f1f1;
  text-align: center;
  z-index: 20;
  width: 100%;
}

.workCardsContainer .cardContainer .headerCard {
  color: #f1f1f1;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2rem;
  padding: 0.5rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 20;
  position: relative;
}

.workCardsContainer .cardContainer .headerCard a {
  color: #f1f1f1;
  text-decoration: none;
}

.workCardsContainer .cardContainer .headerCard::before {
  content: "";
  position: absolute;
  background: #f1f1f1;
  width: 100%;
  height: 1px;
  bottom: 0;
  -webkit-transform-origin: 150% 0;
          transform-origin: 150% 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.workCardsContainer .cardContainer .headerCard:hover::before {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.workCardsContainer .cardContainer .hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #ed3833;
}

.workCardsContainer .cardContainer .intro {
  width: 170px;
  margin: 0 auto;
  color: #f1f1f1;
  font-family: "Droid Serif", serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 18px;
}

.workCardsContainer .cardContainer .cardInfo {
  width: 100%;
  padding: 0 50px;
  color: #f1f1f1;
  font-style: 1rem;
  line-height: 24px;
  text-align: justify;
}

.workCardsContainer .cardContainer .bottomCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workCardsContainer .cardContainer .bottomCard .stack {
  color: #f1f1f1;
  text-align: center;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 20;
  position: relative;
}

.workCardsContainer .cardContainer .bottomCard .tagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.5rem 0 1rem 0;
}

.workCardsContainer .cardContainer .bottomCard .tag {
  color: #f1f1f1;
  font-size: 1rem;
  margin: 0 1rem;
}

.workCardsContainer .cardContainer .utilityList {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2.5rem 0;
}

.workCardsContainer .cardContainer .externalLinks {
  text-decoration: none;
  color: #0f1624;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  background: #f1f1f1;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.workCardsContainer .cardContainer .externalLinks:hover {
  color: #0f1624;
  font-size: 2rem;
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}
/*# sourceMappingURL=App.css.map */