.background-fade {
  margin-top: 18.75rem;
  height: 37.5rem;
  .container {
    .rotateWebDev {
      position: absolute;
      top: -20%;
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: max-content max-content;
      h2 {
        font-size: 6.25rem;
        margin: 0;
        writing-mode: vertical-lr;
        text-align: center;
        line-height: 0.8;
        color: $zRed;
      }
      .rotateWeb {
        transform: rotate(180deg);
        color: $zVeryDarkBlue;
      }
    }
    .row {
      margin: 0 5% 0 5%;
      justify-content: space-between;
      align-items: flex-start;
      h2 {
        font-size: 28px;
      }
      p {
        font-family: "Helvetica Neue";
        font-size: 16;
        line-height: 28px;
        font-weight: 400;
        width: 800px;
        .bouncingLogos {
          display: flex;
          height: 5rem;
          width: auto;
        }
      }
    }
  }
  .profileBox {
    position: relative;
    height: 100%;
    width: 50%;
    .profilePicture {
      position: absolute;
      top: -25vh;
      width: 90%;
      height: auto;
      transition: 0.5s;
      z-index: 11;
      filter: drop-shadow(8px -5px 10px #585858);
    }
  }
}
