.containerAboutMe {
  position: relative;
  display: flex;
  justify-content: start;
  margin-bottom: 1rem;
  @include breakpoint-down(mobile) {
    flex-direction: column;
    align-items: center;
    margin: -5rem 0 0 0;
  }
  .rotateWebDev {
    // border: 5px solid blue;
    display: flex;
    position: absolute;
    margin-left: 7rem;
    top: -5rem;
    h2 {
      font-size: 6.25rem;
      margin: 0;
      writing-mode: vertical-lr;
      text-align: center;
      line-height: 0.8;
      color: $zRed;
    }
    .rotateWeb {
      transform: rotate(180deg);
      color: $zVeryDarkBlue;
    }
    @include breakpoint-down(mobile) {
      display: none;
    }
  }
  .profileBox {
    // border: 5px solid yellow;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 4rem;
    @include breakpoint-down(mobile) {
      height: fit-content;
      padding: 0;
      float: left;
      margin-bottom: 2rem;
    }

    .profilePicture {
      // border: 5px solid pink;
      height: 100vh;
      width: auto;
      filter: drop-shadow(8px -5px 10px #585858);
      @include breakpoint-down(mobile) {
        height: 25vh;
      }
    }
  }
  .descriptionBox {
    // border: 5px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50vw;
    @include breakpoint-down(mobile) {
      width: 85%;
    }
    p {
      // border: 5px solid violet;
      width: 90%;
      font-family: "Helvetica Neue";
      font-size: 1rem;
      line-height: 1.75rem;
      font-weight: 400;
      text-justify: auto;
      @include breakpoint-down(mobile) {
        width: 100%;
        font-size: 0.8rem;
        line-height: 0.75rem;
      }

      .bouncingLogos {
        display: flex;
        justify-content: center;
        height: 5rem;
        width: auto;
        @include breakpoint-down(mobile) {
          height: 1.5rem;
        }
      }
    }
  }
}
